APP_NAME=Telegram Fork
APP_BUNDLE_ID=fork.telegram.Telegram-iOS
APP_SPECIFIC_URL_SCHEME=tg_fork

GLOBAL_CONSTANTS = APP_CONFIG_API_ID=94575 APP_CONFIG_API_HASH="\"a3406de8d171bb422bb6ddf3bbd800e2\"" APP_CONFIG_HOCKEYAPPID="\"\"" APP_CONFIG_IS_INTERNAL_BUILD=true APP_CONFIG_IS_APPSTORE_BUILD=false APP_CONFIG_APPSTORE_ID=0  APP_SPECIFIC_URL_SCHEME="\"$(APP_SPECIFIC_URL_SCHEME)\""
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GLOBAL_CONSTANTS)
