build --strategy=Genrule=local
build --apple_platform_type=ios
build --cxxopt='-std=c++14'
build --copt='-w'
build --swiftcopt='-Xcc'
build --swiftcopt='-w'
build --spawn_strategy=local
build --strategy=SwiftCompile=local

