# Xcode
build
*.pbxuser
!default.pbxuser
*.mode?v3
!default.mode?v3
*.perspective
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
profile
*.moved-aside

# osx noise
.DS_Store
*.ipa
*.swp
*~.nib
profile

documentation/
Products/
