<dict>
    <key>Black</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlackIconIpad</string>
            <string>BlackIconLargeIpad</string>
            <string>BlackNotificationIcon</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>BlackClassic</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlackClassicIconIpad</string>
            <string>BlackClassicIconLargeIpad</string>
            <string>BlackClassicNotificationIcon</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>BlackFilled</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlackFilledIconIpad</string>
            <string>BlackFilledIconLargeIpad</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>Blue</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlueIconIpad</string>
            <string>BlueIconLargeIpad</string>
            <string>BlueNotificationIcon</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>BlueClassic</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlueClassicIconIpad</string>
            <string>BlueClassicIconLargeIpad</string>
            <string>BlueClassicNotificationIcon</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>BlueFilled</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlueFilledIconIpad</string>
            <string>BlueFilledIconLargeIpad</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>WhiteFilled</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>WhiteFilledIcon</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
</dict>