<dict>
    <key>Black</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlackIconIpad</string>
            <string>BlackIconLargeIpad</string>
            <string>BlackNotificationIcon</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>BlackClassic</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlackClassicIconIpad</string>
            <string>BlackClassicIconLargeIpad</string>
            <string>BlackClassicNotificationIcon</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>BlackFilled</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlackFilledIconIpad</string>
            <string>BlackFilledIconLargeIpad</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>Blue</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlueIconIpad</string>
            <string>BlueIconLargeIpad</string>
            <string>BlueNotificationIcon</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>BlueClassic</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlueClassicIconIpad</string>
            <string>BlueClassicIconLargeIpad</string>
            <string>BlueClassicNotificationIcon</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>BlueFilled</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>BlueFilledIconIpad</string>
            <string>BlueFilledIconLargeIpad</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>WhiteFilled</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>WhiteFilledIcon</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
        <key>New1</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>New1_20x20</string>
            <string>New1_29x29</string>
            <string>New1_40x40</string>
            <string>New1_58x58</string>
            <string>New1_60x60</string>
            <string>New1_76x76</string>
            <string>New1_80x80</string>
            <string>New1_87x87</string>
            <string>New1_120x120</string>
            <string>New1_152x152</string>
            <string>New1_167x167</string>
            <string>New1_180x180</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>New2</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>New2_20x20</string>
            <string>New2_29x29</string>
            <string>New2_40x40</string>
            <string>New2_58x58</string>
            <string>New2_60x60</string>
            <string>New2_76x76</string>
            <string>New2_80x80</string>
            <string>New2_87x87</string>
            <string>New2_120x120</string>
            <string>New2_152x152</string>
            <string>New2_167x167</string>
            <string>New2_180x180</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
</dict>