<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).refresh</string>
	</array>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${APP_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(PRODUCT_BUNDLE_SHORT_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>telegram</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).compatibility</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tg</string>
				<string>$(APP_SPECIFIC_URL_SCHEME)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).ton</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ton</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${BUILD_NUMBER}</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>comgooglemaps-x-callback</string>
		<string>foursquare</string>
		<string>here-location</string>
		<string>yandexmaps</string>
		<string>yandexnavi</string>
		<string>comgooglemaps</string>
		<string>youtube</string>
		<string>twitter</string>
		<string>vk</string>
		<string>waze</string>
		<string>googlechrome</string>
		<string>firefox</string>
		<string>touch-http</string>
		<string>yandexbrowser-open-url</string>
		<string>vimeo</string>
		<string>vine</string>
		<string>coub</string>
		<string>uber</string>
		<string>citymapper</string>
		<string>lyft</string>
		<string>opera-http</string>
		<string>firefox-focus</string>
		<string>ddgQuickLink</string>
		<string>moovit</string>
		<string>alook</string>
		<string>dgis</string>
		<string>microsoft-edge-http</string>
		<string>brave</string>
		<string>onionhttp</string>
		<string>ucbrowser</string>
		<string>dolphin</string>
		<string>instagram-stories</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need this so that you can take and share photos and videos.</string>
	<key>NSContactsUsageDescription</key>
	<string>Telegram stores your contacts heavily encrypted in the cloud to let you connect with your friends across all your devices.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>You can use Face ID to unlock the app.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>When you send your location to your friends, Telegram needs access to show them a map. You also need this to send locations from an Apple Watch.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>When you send your location to your friends, Telegram needs access to show them a map.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need this so that you can record and share voice messages and videos with sound.</string>
	<key>NSMotionUsageDescription</key>
	<string>When you send your location to your friends, Telegram needs access to show them a map.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need this so that you can share photos and videos from your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need this so that you can share photos and videos from your photo library.</string>
	<key>NSSiriUsageDescription</key>
	<string>You can use Siri to send messages.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
		<string>RemindAboutChatIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>SFCompactRounded-Semibold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIViewEdgeAntialiasing</key>
	<false/>
	<key>UIViewGroupOpacity</key>
	<false/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Telegram iOS Color Theme File</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>BlueIcon@3x.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.telegram.Telegram-iOS.theme</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tgios-theme</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
