<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>IntentPhrases</key>
    <array>
        <dict>
            <key>IntentName</key>
            <string>INStartAudioCallIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Mulakan panggilan audio dengan Alex dalam Telegram</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INSetMessageAttributeIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Sematkan mesej dalam Telegram</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INSearchCallHistoryIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Cari sejarah panggilan dengan Alex dalam Telegram</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INSearchForMessagesIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Cari mesej yang mengandungi Alex dalam Telegram</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INSendMessageIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Hantar mesej Telegram kepada Alex mengatakan saya akan sampai dalam masa 10 minit</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
