<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>IntentPhrases</key>
    <array>
        <dict>
            <key>IntentName</key>
            <string>INStartAudioCallIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Начните аудио звонок с Алексом в Telegram</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INSetMessageAttributeIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Закрепить сообщение в Telegram</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INSearchCallHistoryIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Поиск истории звонков, содержащих Алекса в Telegram</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INSearchForMessagesIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Поиск по ключевому слову, содержащему Алекс в Telegram</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INSendMessageIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Отправить Алисе сообщение в Telegram: я буду через 10 минут</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
