<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TelegramCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D09D8C001D4FAB1D0081DBEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09D8C091D4FAB1D0081DBEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0B418661D7E03D5004562A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
