<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Display.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D01159B61F40E96B0039383E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D05CC2621B69316F00E235A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D05CC26C1B69316F00E235A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
