APP_NAME=Telegram
APP_BUNDLE_ID=ph.telegra.Telegraph
APP_SPECIFIC_URL_SCHEME=tgapp

GLOBAL_CONSTANTS = APP_CONFIG_IS_INTERNAL_BUILD=false APP_CONFIG_IS_APPSTORE_BUILD=true APP_CONFIG_APPSTORE_ID=686449807 APP_SPECIFIC_URL_SCHEME="\"$(APP_SPECIFIC_URL_SCHEME)\""
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GLOBAL_CONSTANTS)

#include "Data.xcconfig"
