<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>IntentPhrases</key>
    <array>
        <dict>
            <key>IntentName</key>
            <string>INSetMessageAttributeIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Zet het bericht vast in Telegram</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INSearchCallHistoryIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Zoekgeschiedenis met Alex in Telegram</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INSearchForMessagesIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Zoeken naar berichten met Alex in Telegram</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INStartAudioCallIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Start een audiogesprek met Alex in Telegram</string>
            </array>
        </dict>
        <dict>
            <key>IntentName</key>
            <string>INSendMessageIntent</string>
            <key>IntentExamples</key>
            <array>
                <string>Stuur een Telegram-bericht naar Maartje met ik ben er over 15 minuten.</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
